<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Dashboard</title>
  <script src="js/main.js"></script>
</head>
<body>
  <h1>Bienvenido, <%= email %></h1>

  <!-- Aquí puedes agregar el formulario para administrar clientes -->
  <!-- Ejemplo: -->
  <% if (clienteEditarNombre!=null) { %>
  <form action="/user/edit" id="formulario" method="POST">
    <fieldset>
        <legend>Editar Cliente</legend>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="<%= clienteEditarNombre %>" required>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" value="<%= clienteEditarApellido %>" required>
        <label for="email">Email:</label>
        <input type="text" name="email" value="<%= clienteEditarEmail %>" required>
        <input type="hidden" name="id" value="<%= clienteEditarId %>" required>
        <button type="submit">Editar</button>
      </fieldset>
    </form>
      <% } else { %>
      <form action="/user/add" id="formulario" method="POST">
      <fieldset>
      <legend>Agregar Cliente</legend>
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" required>
      <label for="apellido">Apellido:</label>
      <input type="text" name="apellido" id="apellido" required>
      <label for="email">Email:</label>
      <input type="text" name="email" id="email" required>
      <button type="submit">Enviar</button>
      <% } %>
    </fieldset>
  </form>
  <div>
    <h2>Clientes</h2>
    <ul>
      <% if (clients.length > 0) { %>
        <% clients.forEach(function(client) { %>
          
          <li><%= client.nombre %> <%= client.apellido %>
          <button onclick="seleccionarCliente('<%= client._id %>')">Editar</button>
          <!-- Botón de Borrar -->
          <button onclick="borrarCliente('<%= client._id %>')">Borrar</button>
        </li>
        <% }); %>
      <% } else { %>
        <li>No se han encontrado clientes.</li>
      <% } %>
    </ul>
    </div>
  <a href="/email-password.html?logout">Logout</a>
</body>
</html>
